
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex; 
    flex-direction: column;
    text-align: left;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin: 5px;
    border: 1 px solid #ccc;
    border-radius: 3px;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color:rgb(55, 55, 236);
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: green;
}

#message {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}